@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Light';
  src: url('../fonts/Oswald-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Abolon';
  src: url('../fonts/Abolon.otf') format('opentype');
  src: url('../fonts/Abolon.ttf') format('truetype');
}
* body {
  background-color: #F4F4F4;
}
.navbar-custom {
  color: #F4F4F4;
  background-color: #984B43;
  text-align: center;
  margin-bottom: 1em;
}
.navbar-custom ul.pages {
  display: inline-block;
  color: #F4F4F4;
  height: 1em;
  font-family: "Abolon", "Oswald-Bold", sans-serif;
  font-size: 1.45em;
  line-height: -1em;
  margin-top: 1em;
}
.navbar-custom ul.pages li.page {
  margin-left: 1em;
  margin-right: 1em;
  color: #F4F4F4;
  display: inline;
}
.navbar-custom ul.pages li.page a {
  color: #F4F4F4;
  text-decoration: none;
}
.navbar-custom ul.pages li.page a:hover {
  color: #EAC67A;
}
.navbar-custom ul.pages #nav-brand {
  margin-top: -1.5em;
  z-index: 9999;
}
.jumbotron .constrain-contain {
  margin-left: 17em;
}
.jumbotron .constrain-contain .slide {
  width: 350px;
  height: 450px;
  margin: 0;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
  border: 1px solid lightgrey;
  color: #EAC67A;
  text-align: justify;
}
.jumbotron .constrain-contain .transform {
  overflow: hidden;
}
.jumbotron .constrain-contain .transform img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.jumbotron .constrain-contain .transform:hover img {
  transform: translateX(-550px);
}
.jumbotron .constrain-contain .background,
.jumbotron .constrain-contain .multi {
  background-image: url(../images/headshot.png);
  background-repeat: no-repeat;
  background-color: #984B43;
  background-size: cover;
  background-position: top center;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.jumbotron .constrain-contain .slide2 {
  width: 350px;
  height: 450px;
  margin: 0px;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
  border: 1px solid lightgrey;
  color: white;
  text-align: justify;
}
.jumbotron .constrain-contain .transform2 {
  overflow: hidden;
}
.jumbotron .constrain-contain .transform2 img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.jumbotron .constrain-contain .transform2:hover img {
  transform: translateX(350px);
}
.jumbotron .constrain-contain .background,
.jumbotron .constrain-contain .multi2 {
  background-image: url(../images/jess.png);
  background-repeat: no-repeat;
  background-color: #984B43;
  background-size: cover;
  background-position: top center;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.container {
  margin-bottom: 3em;
  text-align: center;
}
.container h2 {
  font-family: "Oswald-Bold";
}
.container .mini-image1 {
  height: 10em;
  width: 100%;
  background-image: url(../images/computer-study.jpg);
  background-size: cover;
  background-color: #984B43;
}
.container .mini-image2 {
  height: 10em;
  width: 100%;
  background-image: url(../images/responsive-design.jpg);
  background-size: cover;
  background-color: #984B43;
}
.container .mini-image3 {
  height: 10em;
  width: 100%;
  background-image: url(../images/colors-wheel.jpg);
  background-size: cover;
  background-color: #984B43;
}
.container p {
  font-family: "Oswald-Light";
  text-align: left;
}
.container .btn {
  background-color: #EAC67A;
  color: #984B43;
  font-family: "Abolon";
}
div.footer-container {
  height: 15em;
  background-color: #233237;
  clear: both;
  color: #EAC67A;
  width: 100%;
}
div.footer-container #footer-contents {
  width: 75%;
  margin: auto;
}
div.footer-container #footer-logo {
  float: left;
  height: 15em;
  line-height: 15em;
}
div.footer-container #footer-logo img {
  color: #EAC67A;
  padding-top: .15em;
  width: 12em;
}
div.footer-container .footer-links ul {
  padding-top: 1.9em;
}
div.footer-container .footer-links li {
  list-style: none;
  padding-top: .3em;
  font-size: 1.5em;
  font-family: "Oswald-Bold", "Abolon", sans-serif;
  font-weight: 400;
}
div.footer-container .footer-links a {
  color: #EAC67A;
}
div.footer-container .footer-links a:hover {
  color: #F4F4F4;
  text-decoration: none;
}
div.footer-container #footer-social {
  height: 15em;
  line-height: 15em;
  float: right;
}
div.footer-container #footer-social a {
  color: #EAC67A;
  text-decoration: none;
}
div.footer-container #footer-social a:hover {
  color: #F4F4F4;
}
div.footer-container #footer-social .fa-facebook-square {
  font-size: 5em;
}
div.footer-container #footer-social .fa-twitter-square {
  font-size: 5em;
  padding-left: .3em;
}
div.footer-container #copyright {
  text-align: center;
  margin-top: -2em;
  font-size: 1.2em;
  font-family: "Abolon", "Oswald-Light", sans-serif;
  font-weight: 300;
}
div#about-main-container {
  margin-top: 3em;
  padding-top: 4em;
  padding-bottom: 4em;
}
div#about-main-container h2 {
  font-family: "Oswald-Bold", sans-serif;
  margin-top: 0;
}
div#about-main-container h3 {
  font-family: "Abolon", sans-serif;
}
div#about-main-container .about-para {
  font-family: "Oswald-Light", sans-serif;
  font-size: 18px;
}
div#about-main-container .contact-info a {
  text-decoration: none;
  color: black;
}
div#about-main-container .contact-info a a:hover {
  color: #984B43;
}
div#about-main-container .email-address {
  margin-right: 1em;
  font-family: "Oswald-Bold";
  font-size: 2em;
  vertical-align: middle;
}
div#about-main-container .linkedin-logo img {
  height: 2em;
}
div#about-main-container .github-logo img {
  height: 2.8em;
  margin-right: 2em;
}
div#about-main-container #chris-container {
  width: 75%;
  margin: auto;
}
div#about-main-container #chris-container .chris-titles {
  width: 100%;
  display: inline-block;
}
div#about-main-container #chris-container h3 {
  margin-top: 0;
}
div#about-main-container #chris-container #chris-image img {
  height: 300px;
}
div#about-main-container #chris-container #chris-info {
  margin-left: 2em;
}
div#about-main-container #jess-container {
  width: 75%;
  margin: auto;
  padding-top: 3em;
}
div#about-main-container #jess-container .jess-titles {
  width: 100%;
  display: inline-block;
}
div#about-main-container #jess-container h2 {
  float: right;
}
div#about-main-container #jess-container h3 {
  float: right;
  margin-top: 0;
}
div#about-main-container #jess-container #jess-image img {
  height: 300px;
  float: right;
}
div#about-main-container #jess-container #jess-info {
  margin-right: 2em;
  float: right;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1600px) {
  div.services-main-container {
    padding-top: 5em;
    padding-bottom: 4em;
  }
  div.services-main-container h1 {
    font-family: "Abolon", sans-serif;
    margin-top: 0;
    overflow: auto;
  }
  div.services-main-container .services-para {
    font-family: "Oswald-Light", sans-serif;
    font-size: 18px;
    display: inline-block;
    overflow: auto;
  }
  div.services-main-container .title {
    width: 100%;
    display: inline-block;
    overflow: auto;
  }
  div.services-main-container #webdesign-container {
    width: 80%;
    margin: auto;
  }
  div.services-main-container #webdesign-container #webdesign-image img {
    height: 11em;
  }
  div.services-main-container #webdesign-container #webdesign-info {
    margin-left: 2em;
    display: inline-block;
  }
  div.services-main-container #seo-background {
    background-color: #e7e9ec;
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    display: inline-block;
    width: 100%;
  }
  div.services-main-container #seo-container {
    width: 80%;
    margin: auto;
  }
  div.services-main-container #seo-container h1 {
    float: right;
  }
  div.services-main-container #seo-container #seo-image {
    margin-left: 0;
    position: absolute;
  }
  div.services-main-container #seo-container #seo-image img {
    height: 11em;
  }
  div.services-main-container #seo-container #seo-info {
    display: inline-block;
    position: relative;
  }
  div.services-main-container #graphicdesign-container {
    width: 80%;
    margin: auto;
  }
  div.services-main-container #graphicdesign-container #graphicdesign-image img {
    height: 150px;
  }
  div.services-main-container #graphicdesign-container #graphicdesign-info {
    margin-left: 2em;
  }
}
@media only screen and (max-width: 480px) {
  div.services-main-container {
    text-align: center;
  }
  div.services-main-container .services-para {
    font-size: 18px;
  }
  div.services-main-container #webdesign-container {
    width: 100%;
  }
  div.services-main-container #webdesign-container #webdesign-info {
    margin: 0 .75em 0 .75em;
  }
  div.services-main-container #seo-container {
    width: 100%;
  }
  div.services-main-container #seo-container h1 {
    float: none;
  }
  div.services-main-container #seo-container #seo-info {
    margin: 0 .75em 0 .75em;
    float: none;
  }
  div.services-main-container #graphicdesign-container {
    width: 100%;
  }
  div.services-main-container #graphicdesign-container #graphicdesign-info {
    margin: 0 .75em 0 .75em;
  }
}
