@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Light';
  src: url('../fonts/Oswald-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Abolon';
  src: url('../fonts/Abolon.otf') format('opentype');
  src: url('../fonts/Abolon.ttf') format('truetype');
}
* body {
  background-color: #F4F4F4;
}
.navbar {
  color: #F4F4F4;
  background-color: #8eaec7;
  height: 5em;
  text-align: center;
}
.navbar ul.pages {
  display: inline-block;
  color: #233237;
  height: 0.8em;
  font-family: "Abolon", "Oswald-Bold", sans-serif;
  font-size: 1.45em;
  margin-top: 1.25em;
}
.navbar ul.pages li.page {
  margin-left: 0.5em;
  margin-right: 0.5em;
  top: 0.8em;
  color: #233237;
  display: inline;
}
.navbar ul.pages li.page a {
  color: #233237;
  text-decoration: none;
}
@media (max-width: 544px) {
  .navbar ul.pages li.page a {
    background-color: #8eaec7;
  }
}
.navbar ul.pages li.page a:hover {
  color: #c2bba8;
  background-color: transparent;
}
@media (max-width: 544px) {
  .navbar ul.pages li.page a:hover {
    background-color: #8eaec7;
  }
}
@media (max-width: 544px) {
  .navbar ul.pages li.page {
    color: #8eaec7;
  }
}
.navbar ul.pages #nav-brand {
  margin-top: -1.5em;
  z-index: 999999;
}
@media (max-width: 544px) {
  .navbar {
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
.splash {
  margin-top: 2em;
}
.splash .welcome {
  font-size: 4em;
  font-family: "Oswald-Bold", "Abolon", sans-serif;
}
@media screen and (max-width: 993px) {
  .splash .welcome {
    font-size: 3.5em;
  }
}
.splash .constrain-contain {
  margin-top: -2em;
}
.splash .constrain-contain .slide-container {
  display: inline;
  font-family: "Abolon";
}
.splash .constrain-contain .slide-container .slide {
  width: 350px;
  height: 450px;
  margin: 0;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
  border: 1px solid lightgrey;
  color: #c2bba8;
  text-align: justify;
  cursor: pointer;
  cursor: hand;
}
@media (min-width: 540px) and (max-width: 1200px) {
  .splash .constrain-contain .slide-container .slide {
    width: 300px;
    height: 400px;
  }
}
.splash .constrain-contain .slide-container .transform {
  overflow: hidden;
}
.splash .constrain-contain .slide-container .transform img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.splash .constrain-contain .slide-container .transform:hover img {
  transform: translateX(-550px);
}
.splash .constrain-contain .slide-container .background,
.splash .constrain-contain .slide-container .multi {
  background-image: url(../images/headshot.png);
  background-repeat: no-repeat;
  background-color: #8eaec7;
  background-size: cover;
  background-position: top center;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
@media (min-width: 540px) and (max-width: 1200px) {
  .splash .constrain-contain .slide-container {
    margin-left: -3em;
  }
}
.splash .constrain-contain .slide-container2 {
  display: inline;
  font-family: "Abolon";
}
.splash .constrain-contain .slide-container2 .slide2 {
  width: 350px;
  height: 450px;
  margin: 0px;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
  border: 1px solid lightgrey;
  color: white;
  text-align: justify;
  cursor: pointer;
  cursor: hand;
}
@media (min-width: 540px) and (max-width: 1200px) {
  .splash .constrain-contain .slide-container2 .slide2 {
    width: 300px;
    height: 400px;
  }
}
.splash .constrain-contain .slide-container2 .transform2 {
  overflow: hidden;
}
.splash .constrain-contain .slide-container2 .transform2 img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.splash .constrain-contain .slide-container2 .transform2:hover img {
  transform: translateX(350px);
}
.splash .constrain-contain .slide-container2 .background,
.splash .constrain-contain .slide-container2 .multi2 {
  background-image: url(../images/jess.png);
  background-repeat: no-repeat;
  background-color: #8eaec7;
  background-size: cover;
  background-position: top center;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
@media (min-width: 540px) and (max-width: 1200px) {
  .splash .constrain-contain .slide-container2 {
    margin-left: 2em;
  }
}
@media (max-width: 540px) {
  .splash {
    margin-top: 5em;
  }
}
.container {
  margin-bottom: 3em;
  text-align: center;
}
.container h2 {
  font-family: "Oswald-Bold";
}
.container .mini-container {
  margin-bottom: 2.8em;
}
.container .mini-container .mini-image1 {
  height: 10em;
  width: 100%;
  background-image: url(../images/computer-study.jpg);
  background-size: cover;
  background-color: #8eaec7;
}
.container .mini-container .mini-image2 {
  height: 10em;
  width: 100%;
  background-image: url(../images/responsive-design.jpg);
  background-size: cover;
  background-color: #8eaec7;
}
.container .mini-container .mini-image3 {
  height: 10em;
  width: 100%;
  background-image: url(../images/colors-wheel.jpg);
  background-size: cover;
  background-color: #8eaec7;
}
.container .mini-container p {
  font-family: "Oswald-Light";
  text-align: left;
  font-size: 1.15em;
}
@media (max-width: 700px) {
  .container .mini-container p {
    font-size: 1.65em;
    text-align: center;
  }
}
.container .mini-container .btn {
  background-color: #c2bba8;
  color: #233237;
  font-family: "Abolon";
}
@media (max-width: 700px) {
  .container .mini-container .btn {
    font-size: 1.5em;
  }
}
div.footer-container {
  background-color: #233237;
  clear: both;
  color: #c2bba8;
  width: 100%;
}
div.footer-container #footer-contents {
  width: 75%;
  margin: auto;
}
div.footer-container #footer-logo {
  float: left;
  height: 15em;
  line-height: 15em;
}
div.footer-container #footer-logo img {
  color: #c2bba8;
  padding-top: .15em;
  width: 12em;
}
@media (max-width: 700px) {
  div.footer-container #footer-logo {
    text-align: center;
    float: none;
    width: 100%;
  }
}
div.footer-container .footer-links ul {
  padding-top: 1.9em;
}
div.footer-container .footer-links li {
  list-style: none;
  padding-top: .3em;
  font-size: 1.5em;
  font-family: "Oswald-Bold", "Abolon", sans-serif;
  font-weight: 400;
}
div.footer-container .footer-links a {
  color: #c2bba8;
}
div.footer-container .footer-links a:hover {
  color: #F4F4F4;
  text-decoration: none;
}
div.footer-container #footer-social {
  height: 15em;
  line-height: 15em;
  float: right;
}
div.footer-container #footer-social .btn {
  background-color: #c2bba8;
  color: #233237;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}
div.footer-container #footer-social a {
  color: #c2bba8;
  text-decoration: none;
}
div.footer-container #footer-social a:hover {
  color: #F4F4F4;
}
div.footer-container #footer-social .fa-facebook-square {
  font-size: 5em;
}
div.footer-container #footer-social .fa-twitter-square {
  font-size: 5em;
  padding-left: .3em;
}
@media (max-width: 700px) {
  div.footer-container #footer-social {
    float: none;
    text-align: center;
    line-height: 0em;
    height: auto;
  }
}
div.footer-container #copyright {
  text-align: center;
  margin-top: -2em;
  font-size: 1.2em;
  font-family: "Abolon", "Oswald-Light", sans-serif;
  font-weight: 300;
}
@media (max-width: 700px) {
  div.footer-container #copyright {
    margin-top: 0em;
    bottom: 0;
  }
}
div#about-main-container {
  padding-top: 4em;
  padding-bottom: 4em;
}
div#about-main-container #chris-image {
  text-decoration: none;
}
div#about-main-container h2 {
  font-family: "Oswald-Bold", sans-serif;
  margin-top: 0;
}
div#about-main-container h3 {
  font-family: "Abolon", sans-serif;
}
div#about-main-container .about-para {
  font-family: "Oswald-Light", sans-serif;
  font-size: 1.25em;
}
div#about-main-container .contact-info a {
  text-decoration: none;
  color: black;
}
div#about-main-container .contact-info a a:hover {
  color: #8eaec7;
}
div#about-main-container .email-address {
  margin-right: 1em;
  font-family: "Oswald-Bold";
  font-size: 2em;
  vertical-align: middle;
}
div#about-main-container .linkedin-logo img {
  height: 2em;
}
div#about-main-container .github-logo img {
  height: 2.8em;
  margin-right: 2em;
}
div#about-main-container #chris-container {
  width: 75%;
  margin: auto;
}
div#about-main-container #chris-container .chris-titles {
  width: 100%;
  display: inline-block;
}
div#about-main-container #chris-container h3 {
  margin-top: 0;
}
div#about-main-container #chris-container #chris-image img {
  height: 300px;
}
@media (max-width: 768px) {
  div#about-main-container #chris-container #chris-image {
    text-align: center;
  }
}
div#about-main-container #chris-container #chris-info {
  margin-left: 2em;
}
@media (max-width: 950px) {
  div#about-main-container #chris-container #chris-info {
    margin-left: 4em;
  }
}
div#about-main-container .jess-image-mobile {
  text-align: center;
}
div#about-main-container #jess-container {
  width: 75%;
  margin: auto;
  padding-top: 3em;
}
div#about-main-container #jess-container .jess-titles {
  width: 100%;
  display: inline-block;
}
div#about-main-container #jess-container h2 {
  float: right;
}
div#about-main-container #jess-container h3 {
  float: right;
  margin-top: 0;
}
div#about-main-container #jess-container #jess-image img {
  height: 300px;
  float: right;
}
div#about-main-container #jess-container #jess-info {
  margin-right: 2em;
  float: right;
}
@media (max-width: 950px) {
  div#about-main-container #jess-container #jess-info {
    margin-right: 4em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1600px) {
  div.services-main-container {
    padding-top: 5em;
    padding-bottom: 4em;
  }
  div.services-main-container h1 {
    font-family: "Abolon", sans-serif;
    margin-top: 0;
  }
  div.services-main-container .services-para {
    font-family: "Oswald-Light", sans-serif;
    font-size: 1.25em;
    display: inline-block;
  }
  div.services-main-container .title {
    width: 100%;
    display: inline-block;
  }
  div.services-main-container #webdesign-container {
    width: 80%;
    margin: auto;
  }
  div.services-main-container #webdesign-container #webdesign-image {
    background-image: url(../images/web-design-services.jpg);
    background-size: cover;
    height: 11em;
    width: 100%;
    top: 0;
    left: 0;
  }
  div.services-main-container #webdesign-container #webdesign-info {
    display: inline-block;
  }
  div.services-main-container #seo-container {
    background-color: #e7e9ec;
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  div.services-main-container #seo-container h1 {
    float: right;
  }
  div.services-main-container #seo-container #seo-image {
    background-image: url(../images/seo-services.jpg);
    background-size: cover;
    height: 11em;
    width: 100%;
  }
  div.services-main-container #graphicdesign-container {
    width: 80%;
    margin: auto;
  }
  div.services-main-container #graphicdesign-container #graphicdesign-image {
    background-image: url(../images/graphicdesign-services.jpg);
    background-size: cover;
    height: 11em;
    width: 100%;
    top: 0;
    left: 0;
  }
}
@media only screen and (max-width: 480px) {
  div.services-main-container {
    text-align: center;
    padding-top: 6em;
    padding-bottom: 2em;
  }
  div.services-main-container .title h1 {
    font-family: "Abolon", sans-serif;
  }
  div.services-main-container .services-para {
    font-size: 16px;
    font-family: "Oswald-Light", sans-serif;
  }
  div.services-main-container #webdesign-container {
    width: 100%;
  }
  div.services-main-container #webdesign-container #webdesign-image-mobile {
    background-image: url(../images/web-design-services-mobile.jpg);
    background-size: cover;
    height: 6em;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: .5em;
  }
  div.services-main-container #webdesign-container #webdesign-info {
    margin: 0 .75em 0 .75em;
  }
  div.services-main-container #seo-container {
    width: 100%;
    background-color: #e7e9ec;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  div.services-main-container #seo-container h1 {
    float: none;
  }
  div.services-main-container #seo-container #seo-info {
    margin: 0 .75em 0 .75em;
    float: none;
  }
  div.services-main-container #seo-container #seo-image-mobile {
    background-image: url(../images/seo-services-mobile.jpg);
    background-size: cover;
    height: 6em;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: .5em;
  }
  div.services-main-container #graphicdesign-container {
    width: 100%;
  }
  div.services-main-container #graphicdesign-container #graphicdesign-image-mobile {
    background-image: url(../images/graphicdesign-services-mobile.jpg);
    background-size: cover;
    height: 6em;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: .5em;
  }
  div.services-main-container #graphicdesign-container #graphicdesign-info {
    margin: 0 .75em 2em .75em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1600px) {
  div#main-portfolio-container {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  div#main-portfolio-container button.web-thumb-one {
    background-image: url(../images/portfolio-web/mouthfeel-desktop1.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-two {
    background-image: url(../images/portfolio-web/mouthfeel-desktop2.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-three {
    background-image: url(../images/portfolio-web/mouthfeel-desktop3.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-four {
    background-image: url(../images/portfolio-web/mouthfeel-desktop4.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-five {
    background-image: url(../images/portfolio-web/mouthfeel-mobile1.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-six {
    background-image: url(../images/portfolio-web/mouthfeel-mobile2.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-seven {
    background-image: url(../images/portfolio-web/mouthfeel-mobile3.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-eight {
    background-image: url(../images/portfolio-web/mouthfeel-mobile4.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-nine {
    background-image: url(../images/portfolio-web/pet-home-desk.png);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-ten {
    background-image: url(../images/portfolio-web/pet-search-desk.png);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-eleven {
    background-image: url(../images/portfolio-web/pet-resources-desk.png);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-twelve {
    background-image: url(../images/portfolio-web/pet-resources-modal.png);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-thirteen {
    background-image: url(../images/portfolio-web/pet-resources-mobile.png);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-fourteen {
    background-image: url(../images/portfolio-web/pet-vetfinder-desk.png);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-fifteen {
    background-image: url(../images/portfolio-web/pet-namegen-desk.png);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.web-thumb-sixteen {
    background-image: url(../images/portfolio-web/pet-name-gen-mobile.png);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.graphic-thumb-one {
    background-image: url(../images/portfolio-graphic/wikitherapy.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.graphic-thumb-two {
    background-image: url(../images/portfolio-graphic/MaryPhotoshop.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.graphic-thumb-three {
    background-image: url(../images/portfolio-graphic/fightclubyaya1.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.graphic-thumb-four {
    background-image: url(../images/portfolio-graphic/GrouchoYang.png);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.graphic-thumb-five {
    background-image: url(../images/portfolio-graphic/Mattsincity.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.graphic-thumb-six {
    background-image: url(../images/portfolio-graphic/Shirapatch.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.graphic-thumb-seven {
    background-image: url(../images/portfolio-graphic/capturedgargoyle.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container button.graphic-thumb-eight {
    background-image: url(../images/portfolio-graphic/windowthinking.jpg);
    background-size: cover;
    background-color: #8eaec7;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
  }
  div#main-portfolio-container #modal-label {
    font-size: 30px;
    font-family: "Oswald-Bold", sans-serif;
  }
  div#main-portfolio-container .close {
    color: black;
    opacity: 1;
  }
  div#main-portfolio-container img {
    height: 500px;
  }
  div#main-portfolio-container .modal-content {
    display: inline-block;
    text-align: center;
  }
  div#main-portfolio-container .thumbnail {
    height: 200px;
    width: 100%;
    background-color: #8eaec7;
    margin-bottom: 3em;
  }
  div#main-portfolio-container h1 {
    font-family: "Abolon", sans-serif;
    margin-top: 0;
  }
  div#main-portfolio-container #webdesign-port-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 480px) {
  #main-portfolio-container {
    text-align: center;
    padding-top: 6em;
    padding-bottom: 2em;
  }
  #main-portfolio-container h1 {
    font-family: "Abolon", sans-serif;
    margin-top: 0;
  }
  #main-portfolio-container button.web-thumb-one {
    background-image: url(../images/portfolio-web/mouthfeel-desktop1.jpg);
    background-size: cover;
    top: 0;
    left: 0;
    height: 16em;
    width: 90%;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 480px) {
  .spacer {
    margin-bottom: 5em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1600px) {
  div#tools-main-container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 4em;
    margin-bottom: 4em;
    display: inline-block;
  }
  div#tools-main-container #tools-title h1 {
    font-size: 40px;
    font-family: "Abolon", sans-serif;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  div#tools-main-container .tool-list {
    text-align: center;
  }
  div#tools-main-container .tool-list li {
    font-family: "Oswald-Light", sans-serif;
    font-size: 28px;
    list-style: none;
    width: 49%;
  }
  div#tools-main-container .tool-list li.left {
    float: left;
  }
  div#tools-main-container .tool-list li.right {
    float: right;
  }
}
@media only screen and (max-width: 540px) {
  #tools-main-container {
    margin-top: 3em;
  }
}
@media only screen and (max-width: 480px) {
  #tools-main-container {
    margin-top: 3em;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 2em;
  }
  #tools-main-container #tools-title h1 {
    font-size: 40px;
    font-family: "Abolon", sans-serif;
    width: 100%;
    display: inline-block;
  }
  #tools-main-container ul.tool-list {
    padding-left: 0;
    width: 100%;
  }
  #tools-main-container ul.tool-list .left,
  #tools-main-container ul.tool-list .right {
    float: none;
    width: 100%;
  }
  #tools-main-container ul.tool-list li {
    font-family: "Oswald-Light", sans-serif;
    font-size: 28px;
    list-style-type: none;
    width: 100%;
    padding-left: none;
  }
}
