@import "variables.less";
@import "typography.less";

* body {
    background-color: #F4F4F4;
}

//navbar
.navbar-custom{
    color: @paper;
    background-color: @rustyRed;
    text-align: center;
    margin-bottom: 1em;
    
    ul.pages{
        display: inline-block;
        color: @paper;
        height: 0.8em;
        font-family: @abolon, @oswaldBold, sans-serif;
        font-size: 1.45em;
        margin-top: 1em;
        li.page{
            margin-left: 1em;
            margin-right: 1em;
            top: 0.8em;
            color: @paper;
            display: inline;
            a{
                color: @paper;
                text-decoration: none;
            }
            a:hover{
                color: @warmYellow;
                background-color: transparent;
            }
        }
        #nav-brand{
        margin-top: -2.5em;
        z-index: 999999;
        }
        // #nav-brand:hover{
        //     background-color: transparent;
        // }
    }
    // #nav-brand{
    //     margin-top: -1.5em;
    //     z-index: 9999;
    // }
    
}
//--------------------HOMEPAGE STYLING--------------------
.splash{
    margin-top: 1em;
    .constrain-contain{
        margin-top: 2em;
    .slide-container{
        display: inline;
        font-family: @abolon;
        .slide {
            width: 350px;
            height:450px;
            margin:0;
            margin-right: 0;
            display:inline-block;
            vertical-align:top;
            border: 1px solid lightgrey;
            color:@warmYellow;
            text-align:justify;
            }

            .transform {
            overflow:hidden;
            }

            .transform img {
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            }

        .transform:hover img {
            transform: translateX(-550px);
        }

        .background,
        .multi{
            background-image: url(../images/headshot.png);
            background-repeat:no-repeat;
            background-color: @rustyRed;
            background-size: cover;
            background-position: top center;
            -webkit-transition: all 1.5s ease-in-out;
            -moz-transition: all 1.5s ease-in-out;
            -o-transition: all 1.5s ease-in-out;
            -ms-transition: all 1.5s ease-in-out;
            transition: all 1.5s ease-in-out;
        }
        .slide2 {
            width:350px;
            height:450px;
            margin:0px;
            margin-right:0;
            display:inline-block;
            vertical-align:top;
            border: 1px solid lightgrey;
            color:white;
            text-align:justify;
            }

            .transform2 {
            overflow:hidden;
            }

            .transform2 img {
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            }

        .transform2:hover img {
            transform: translateX(350px);
        }

        .background,
        .multi2{
            background-image: url(../images/jess.png);
            background-repeat:no-repeat;
            background-color: @rustyRed;
            background-size: cover;
            background-position: top center;
            -webkit-transition: all 1.5s ease-in-out;
            -moz-transition: all 1.5s ease-in-out;
            -o-transition: all 1.5s ease-in-out;
            -ms-transition: all 1.5s ease-in-out;
            transition: all 1.5s ease-in-out;
        }
    }
    }
}







    
.container{
    margin-bottom: 3em;
    text-align: center;
    h2{
        font-family: @oswaldBold;
    }
    .mini-image1{
        height: 10em;
        width: 100%;
        background-image: url(../images/computer-study.jpg);
        background-size: cover;
        background-color: @rustyRed;
    }
    .mini-image2{
        height: 10em;
        width: 100%;
        background-image: url(../images/responsive-design.jpg);
        background-size: cover;
        background-color: @rustyRed;
    }
    .mini-image3{
        height: 10em;
        width: 100%;
        background-image: url(../images/colors-wheel.jpg);
        background-size: cover;
        background-color: @rustyRed;
    }
    p{
        font-family: @oswaldLight;
        text-align: left;
    }
    .btn{
            background-color: @warmYellow;
            color: @rustyRed;
            font-family: @abolon;
        }
}
//---------- footer styling---------
div.footer-container {
    background-color: @gunMetal;
    clear: both;
    color: @warmYellow;
    width: 100%;

    #footer-contents {
        width: 75%;
        margin: auto;
    }

        #footer-logo {
            float: left;
            height: 15em;
            line-height: 15em;

            img {
                color: @warmYellow;
                padding-top: .15em;
                width: 12em;
            }
        }
        @media (max-width: 700px){
            #footer-logo{
                text-align: center;
                float: none;
                width: 100%;
            }
        }

        .footer-links {
            ul {
                padding-top: 1.9em;
            }

            li {
                list-style: none;
                padding-top: .3em;
                font-size: 1.5em;
                font-family: @oswaldBold, @abolon, sans-serif;
                font-weight: 400;
            }

            a {
                color: @warmYellow;
            }

            a:hover {
                color: @paper;
                text-decoration: none;
            }
        }

        #footer-social {
            height: 15em;
            line-height: 15em;
            float: right;

            a {
                color: @warmYellow;
                text-decoration: none;
                }

            a:hover {
                color: @paper;
                }

            .fa-facebook-square {
                font-size: 5em;
            }

            .fa-twitter-square {
                font-size: 5em;
                padding-left: .3em;
            }
        }
        @media (max-width: 700px){
            #footer-social{
                float: none;
                text-align: center;
                line-height: 0em;
                height: auto;
            }
        }


        #copyright {
            text-align: center;
            margin-top: -2em;
            font-size: 1.2em;
            // font-family: @oswaldLight;
            font-family: @abolon, @oswaldLight, sans-serif;
            font-weight: 300;
            // font-size: 2em;
        }
        @media (max-width: 700px){
            #copyright{
                margin-top: 0em;
                bottom: 0;
            }
        }
}


//-----BEGIN ABOUT US STYLING-----

div#about-main-container {
    margin-top: 3em;
    padding-top: 4em;
    padding-bottom: 4em;

    h2 {
        font-family: @oswaldBold, sans-serif;
        margin-top: 0;
    }

    h3 {
        font-family: @abolon, sans-serif;
    }

    .about-para {
        font-family: @oswaldLight, sans-serif;
        font-size: 18px;
    }

    .contact-info {

        a {
            text-decoration: none;
            color: black;

                a:hover {
                    color: @rustyRed;
                }
        }
    }

    .email-address {
        margin-right: 1em;
        font-family: @oswaldBold;
        font-size: 2em;
        vertical-align: middle;
    }

    .linkedin-logo {
            img {
                height: 2em;
            }
    }

    .github-logo {
            img {
                height: 2.8em;
                margin-right: 2em;
            }
    }
    
//-----CHRIS STYLING-----

    #chris-container {
        width: 75%;
        margin: auto;

        .chris-titles {
            width: 100%;
            display: inline-block;
        }

        h3 {
            margin-top: 0;
        }

        #chris-image {

            img {
                height: 300px;
            }
        }

        #chris-info {
            margin-left: 2em;
        }
     
    }

//-----JESS STYLING-----

    #jess-container {
        width: 75%;
        margin: auto;
        padding-top: 3em;
    
        .jess-titles {
            width: 100%;
            display: inline-block;
        }

        h2 {
            float: right;
        }

        h3 {
            float: right;
            margin-top: 0;
        }

    #jess-image {
        img {
            height: 300px;
            float: right;
        }
    }

        #jess-info {
            margin-right: 2em;
            float: right;
        }

}
}

//-----BEGIN SERVICES STYLING-----
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1600px) {

div.services-main-container {

    padding-top: 5em;
    padding-bottom: 4em;

    .clearfix {
        overflow: auto;
    }

    h1 {
        font-family: @abolon, sans-serif;
        margin-top: 0;
        //   overflow: auto;

    }

    .services-para {
        font-family: @oswaldLight, sans-serif;
        font-size: 18px;
        display: inline-block;
        //   overflow: auto;

    }

    .title {
        width: 100%;
        display: inline-block;
        //   overflow: auto;

    }
    
// WEB DESIGN STYLING

    #webdesign-container {
        width: 80%;
        margin: auto;

        #webdesign-image {
            img {
                height: 11em;
                // display: inline;
            }
        }

        #webdesign-info {
            margin-left: 2em;
            display: inline-block;

        }
            }

// SEO STYLING

    #seo-background {
        background-color: #e7e9ec;
        padding-top: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        padding-bottom: 2em;
        display: inline-block;
        width: 100%;
    }

    #seo-container {
        width: 80%;
        margin: auto;


    
        h1 {
            float: right;
            // display: inline-block;
                    // width: 100%;

        }
        #seo-image {
            float: right;
            // margin-left: 0;
            // position: absolute;

            img {
                height: 11em;
                // display: inline-block;
                //   overflow: auto;

            }
        }
        #seo-info {
                margin-right: 2em;
                // float: left;
                // display: inline-block;
                // position: relative;
                //   overflow: auto;



        }
    }

// GRAPHIC DESIGN STYLING

    #graphicdesign-container {
        width: 80%;
        margin: auto;    

    #graphicdesign-image {
        img {
            height: 150px;
        }
    }

        #graphicdesign-info {
            margin-left: 2em;
        }
    }
}
}

// MOBILE SERVICES STYLING

    @media only screen 
        and (max-width : 480px)    {

        div.services-main-container {

            text-align: center;

                // .title {
                //     h1 {
                //     // font-size: 2em;
                //     }
                // }

                .services-para {
                    font-size: 18px;
                }

                #webdesign-container {
                    width: 100%;

                    #webdesign-info {
                        margin: 0 .75em 0 .75em;
                    }
                }

                #seo-container {
                    width: 100%;

                    h1 {
                        float: none;
                    }

                    #seo-info {
                        margin: 0 .75em 0 .75em;
                        float: none;
                    }   
                }

                #graphicdesign-container {
                    width: 100%;

                    #graphicdesign-info {
                        margin: 0 .75em 0 .75em;
                    }
                }
            }
    }

 // TABLET MEDIA QUERY @media only screen and (min-width : 768px) {}
// DESKTOP MEDIA QUERY @media only screen and (min-width : 992px) {}







