@import "typography.less";

//colors
@gunMetal: #233237;
@rustyRed: #9ba0a4;
@warmYellow: #c1bca8;
@paper: #F4F4F4;

//fonts
@oswaldLight: "Oswald-Light";
@oswaldRegular: "Oswald-Regular";
@oswaldBold: "Oswald-Bold";
@abolon: "Abolon";